<?xml version='1.0' encoding='utf-8'?>
<widget id="com.arium.app" version=" v1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Arium</name>
    <description>Gamified fitness tracker</description>
    <author email="pierre.louis.sans@gmail.com">
        Pierre-Louis
    </author>
    <icon src="www/img/logo.png" />
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
